<h1>Welcome {{user.firstName}}</h1>
<h4>Your Posts</h4>
{{#if posts}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
        <tr>
          <td><a href="/posts/show/{{id}}">{{title}}</a></td>
          <td>{{DateSet data 'MMMM do YYYY'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a class="btn" href="/posts/edit/{{id}}">Edit</a>

            <form action="/posts/{{id}}?_method=DELETE" method="post" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not posted anything yet</p>
{{/if}}

